/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* <-- ESSENCIAL para 100vh funcionar corretamente */
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background-color: #ffffff;
}
